
.content {

	display: flex;
	height: 500px;

}
.button {

	width: 40%;

	border-radius: 7px;

}

.settings {
	width: 50%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
}
.banner {
	width: 50%;
	align-self: center;

	margin-top: 100px;
	padding: 70px;
}

@media (max-width: 800px) {
	.content {
		flex-direction: column-reverse;
		align-items: center;
	}
	.banner {
		width: 85%;
		padding: 0;
		padding-top: 20px;
	}
	.settings {
		width: 100%;
	}
	.button {

		width: 40%;
		margin-top: 5px;
		border-radius: 7px;

	}
}

.settings__select {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	flex: 0.8;
	justify-content: space-evenly;
}
